{% for bgp in bgp_routing_instances %}
{% set inst_attrs = bgp.extra_attributes | default({}) %}
router bgp {{ bgp.autonomous_system.asn }}
 bgp router-id {{ bgp.router_id.address.split('/')[0] }}
{% if inst_attrs.log_neighbor_changes | default(true) %}
 bgp log-neighbor-changes
{% endif %}
{% if not inst_attrs.default_ipv4_unicast | default(false) %}
 no bgp default ipv4-unicast
{% endif %}
{% if inst_attrs.timers is defined %}
 timers bgp {{ inst_attrs.timers.keepalive }} {{ inst_attrs.timers.hold }}
{% else %}
 timers bgp 10 30
{% endif %}
!
{% for pg in bgp.peer_groups %}
{% set pg_attrs = pg.extra_attributes | default({}) %}
 neighbor {{ pg.name }} peer-group
{% if pg.autonomous_system %}
 neighbor {{ pg.name }} remote-as {{ pg.autonomous_system.asn }}
{% endif %}
{% if pg_attrs.update_source is defined %}
 neighbor {{ pg.name }} update-source {{ pg_attrs.update_source }}
{% endif %}
{% if pg_attrs.fall_over_bfd | default(false) %}
 neighbor {{ pg.name }} fall-over bfd
{% endif %}
{% endfor %}
!
{% for endpoint in bgp.endpoints %}
{% if endpoint.peering and endpoint.peering.endpoints %}
{% set remote = namespace(ep=none) %}
{% for ep in endpoint.peering.endpoints %}
{% if ep.source_ip.address != endpoint.source_ip.address %}
{% set remote.ep = ep %}
{% endif %}
{% endfor %}
{% if remote.ep %}
{% set peer_ip = remote.ep.source_ip.address.split('/')[0] %}
{% set source_ip = endpoint.source_ip.address.split('/')[0] %}
{% if endpoint.peer_group %}
 neighbor {{ peer_ip }} peer-group {{ endpoint.peer_group.name }}
{% else %}
{# PE-CE neighbors live in their VRF address-family, never in the global table #}
{% set in_vrf = namespace(yes=false) %}
{% for interface in interfaces if interface.vrf %}
{% for addr in interface.ip_addresses if addr.ip_version == 4 %}
{% if addr.address.split('/')[0] == source_ip %}
{% set in_vrf.yes = true %}
{% endif %}
{% endfor %}
{% endfor %}
{% if not in_vrf.yes %}
 neighbor {{ peer_ip }} remote-as {{ remote.ep.routing_instance.autonomous_system.asn }}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
!
{# Under `no bgp default ipv4-unicast`, an iBGP speaker whose peers all live #}
{# in vpnv4/vpnv6 still carries an empty `address-family ipv4` block, which #}
{# IOS-XE auto-creates. Emit it so intended matches the device. #}
{% set has_vpn_pg = namespace(yes=false) %}
{% for pg in bgp.peer_groups %}
{% for af in pg.address_families if af.afi_safi in ['VPNV4_UNICAST', 'vpnv4_unicast', 'VPNV6_UNICAST', 'vpnv6_unicast'] %}
{% set has_vpn_pg.yes = true %}
{% endfor %}
{% endfor %}
{% if has_vpn_pg.yes %}
 address-family ipv4
 exit-address-family
!
{% endif %}
{% for pg in bgp.peer_groups %}
{% set pg_attrs = pg.extra_attributes | default({}) %}
{% for af in pg.address_families %}
{% if af.afi_safi in ['VPNV4_UNICAST', 'vpnv4_unicast'] %}
 address-family vpnv4
  neighbor {{ pg.name }} send-community extended
{% if pg_attrs.route_reflector_client | default(false) %}
  neighbor {{ pg.name }} route-reflector-client
{% endif %}
{# Activate each peer-group member by its remote IP; IOS-XE rejects #}
{# activating the peer-group name itself for explicitly-configured peers. #}
{# Emit in numeric IP order so the render is deterministic and matches the #}
{# device's configuration order. #}
{% set vpnv4_members = namespace(ips=[]) %}
{% for endpoint in bgp.endpoints if endpoint.peer_group and endpoint.peer_group.name == pg.name and endpoint.peering and endpoint.peering.endpoints %}
{% set remote = namespace(ep=none) %}
{% for ep in endpoint.peering.endpoints %}
{% if ep.source_ip.address != endpoint.source_ip.address %}
{% set remote.ep = ep %}
{% endif %}
{% endfor %}
{% if remote.ep %}
{% set ip = remote.ep.source_ip.address.split('/')[0] %}
{% set key = namespace(s='') %}
{% for octet in ip.split('.') %}
{% set key.s = key.s + '%03d' | format(octet | int) %}
{% endfor %}
{% set vpnv4_members.ips = vpnv4_members.ips + [(key.s, ip)] %}
{% endif %}
{% endfor %}
{% for pair in vpnv4_members.ips | sort %}
  neighbor {{ pair[1] }} activate
{% endfor %}
{# Non-peer-group neighbors in vpnv4 need per-neighbor attributes #}
{% for endpoint in bgp.endpoints %}
{% if not endpoint.peer_group and endpoint.peering and endpoint.peering.endpoints %}
{% set remote = namespace(ep=none) %}
{% for ep in endpoint.peering.endpoints %}
{% if ep.source_ip.address != endpoint.source_ip.address %}
{% set remote.ep = ep %}
{% endif %}
{% endfor %}
{% if remote.ep %}
{% set peer_ip = remote.ep.source_ip.address.split('/')[0] %}
{% set source_ip = endpoint.source_ip.address.split('/')[0] %}
{% set in_vrf = namespace(yes=false) %}
{% for interface in interfaces if interface.vrf %}
{% for addr in interface.ip_addresses if addr.ip_version == 4 %}
{% if addr.address.split('/')[0] == source_ip %}
{% set in_vrf.yes = true %}
{% endif %}
{% endfor %}
{% endfor %}
{% if not in_vrf.yes %}
  neighbor {{ peer_ip }} activate
  neighbor {{ peer_ip }} send-community extended
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
 exit-address-family
!
{% elif af.afi_safi in ['VPNV6_UNICAST', 'vpnv6_unicast'] %}
 address-family vpnv6
  neighbor {{ pg.name }} send-community extended
{% if pg_attrs.route_reflector_client | default(false) %}
  neighbor {{ pg.name }} route-reflector-client
{% endif %}
{# Activate each peer-group member by its remote IP; IOS-XE rejects #}
{# activating the peer-group name itself for explicitly-configured peers. #}
{% set vpnv6_members = namespace(ips=[]) %}
{% for endpoint in bgp.endpoints if endpoint.peer_group and endpoint.peer_group.name == pg.name and endpoint.peering and endpoint.peering.endpoints %}
{% set remote = namespace(ep=none) %}
{% for ep in endpoint.peering.endpoints %}
{% if ep.source_ip.address != endpoint.source_ip.address %}
{% set remote.ep = ep %}
{% endif %}
{% endfor %}
{% if remote.ep %}
{% set ip = remote.ep.source_ip.address.split('/')[0] %}
{% set key = namespace(s='') %}
{% for octet in ip.split('.') %}
{% set key.s = key.s + '%03d' | format(octet | int) %}
{% endfor %}
{% set vpnv6_members.ips = vpnv6_members.ips + [(key.s, ip)] %}
{% endif %}
{% endfor %}
{% for pair in vpnv6_members.ips | sort %}
  neighbor {{ pair[1] }} activate
{% endfor %}
{# Non-peer-group neighbors in vpnv6 need per-neighbor attributes #}
{% for endpoint in bgp.endpoints %}
{% if not endpoint.peer_group and endpoint.peering and endpoint.peering.endpoints %}
{% set remote = namespace(ep=none) %}
{% for ep in endpoint.peering.endpoints %}
{% if ep.source_ip.address != endpoint.source_ip.address %}
{% set remote.ep = ep %}
{% endif %}
{% endfor %}
{% if remote.ep %}
{% set peer_ip = remote.ep.source_ip.address.split('/')[0] %}
{% set source_ip = endpoint.source_ip.address.split('/')[0] %}
{% set in_vrf = namespace(yes=false) %}
{% for interface in interfaces if interface.vrf %}
{% for addr in interface.ip_addresses if addr.ip_version == 4 %}
{% if addr.address.split('/')[0] == source_ip %}
{% set in_vrf.yes = true %}
{% endif %}
{% endfor %}
{% endfor %}
{% if not in_vrf.yes %}
  neighbor {{ peer_ip }} activate
  neighbor {{ peer_ip }} send-community extended
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
 exit-address-family
!
{% endif %}
{% endfor %}
{% endfor %}
{% set global_ipv4_peers = namespace(list=[]) %}
{% for endpoint in bgp.endpoints %}
{% if not endpoint.peer_group and endpoint.peering and endpoint.peering.endpoints %}
{% set remote = namespace(ep=none) %}
{% for ep in endpoint.peering.endpoints %}
{% if ep.source_ip.address != endpoint.source_ip.address %}
{% set remote.ep = ep %}
{% endif %}
{% endfor %}
{% if remote.ep %}
{% set peer_ip = remote.ep.source_ip.address.split('/')[0] %}
{% set source_ip = endpoint.source_ip.address.split('/')[0] %}
{% set found_vrf = namespace(yes=false) %}
{% for interface in interfaces if interface.vrf %}
{% for addr in interface.ip_addresses if addr.ip_version == 4 %}
{% if addr.address.split('/')[0] == source_ip %}
{% set found_vrf.yes = true %}
 address-family ipv4 vrf {{ interface.vrf.name }}
  neighbor {{ peer_ip }} remote-as {{ remote.ep.routing_instance.autonomous_system.asn }}
  neighbor {{ peer_ip }} activate
 exit-address-family
!
{% endif %}
{% endfor %}
{% endfor %}
{% if not found_vrf.yes %}
{% set global_ipv4_peers.list = global_ipv4_peers.list + [peer_ip] %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% if global_ipv4_peers.list %}
 address-family ipv4
{% for peer_ip in global_ipv4_peers.list %}
  neighbor {{ peer_ip }} activate
{% endfor %}
 exit-address-family
!
{% endif %}
{% for address_family in bgp.address_families | default([]) if address_family.vrf %}
 address-family ipv4 vrf {{ address_family.vrf.name }}
{% set attributes = address_family.extra_attributes | default({}) %}
{% for network in attributes.networks | default([]) %}
  network {{ network }}
{% endfor %}
 exit-address-family
!
{% endfor %}
{% endfor %}
