{# VRF definitions from native Nautobot device assignments and route targets #}
{% macro render_targets(vrf) %}
{% for rt in vrf.export_targets | default([]) %}
  route-target export {{ rt.name }}
{% endfor %}
{% for rt in vrf.import_targets | default([]) %}
  route-target import {{ rt.name }}
{% endfor %}
{% endmacro %}
{% for vrf in vrfs | default([]) %}
vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
 !
 address-family ipv4
{{ render_targets(vrf) }} exit-address-family
 !
 address-family ipv6
{{ render_targets(vrf) }} exit-address-family
!
{% endfor %}
