---
manufacturers:
  - "!create_or_update:name": "Cisco"
  - "!create_or_update:name": "Arista"
  - "!create_or_update:name": "Generic"

platforms:
  - "!create_or_update:name": "cisco_iosxe"
    manufacturer__name: "Cisco"
    network_driver: "cisco_ios"
  - "!create_or_update:name": "arista_eos"
    manufacturer__name: "Arista"
    network_driver: "arista_eos"

device_types:
  - "!create_or_update:model": "CAT8000v"
    manufacturer__name: "Cisco"
    u_height: 1
  - "!create_or_update:model": "vEOS"
    manufacturer__name: "Arista"
    u_height: 1
  - "!create_or_update:model": "Ubuntu-VM"
    manufacturer__name: "Generic"
    u_height: 0

roles:
{% for role_name in ["P-Router", "PE-Router", "Route-Reflector", "CE-Router", "Border-Router", "Spine", "Leaf", "Server"] %}
  - "!create_or_update:name": "{{ role_name }}"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
{% endfor %}
{% for role_name in ["NAT Inside", "NAT Outside"] %}
  - "!create_or_update:name": "{{ role_name }}"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "interface"
{% endfor %}

location_types:
  - "!create_or_update:name": "Region"
    nestable: true
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
    children:
      - "!create_or_update:name": "Site"
        content_types:
          - "!get:app_label": "dcim"
            "!get:model": "device"
          - "!get:app_label": "ipam"
            "!get:model": "prefix"
          - "!get:app_label": "ipam"
            "!get:model": "vlan"
    locations:
      - "!create_or_update:name": "SP-Demo-Lab"
        status__name: "Active"
        "!ref": "region"
        children:
          - "!create_or_update:name": "SP-Core"
            location_type__name: "Site"
            status__name: "Active"
            "!ref": "sp_core"
          - "!create_or_update:name": "DC-A"
            location_type__name: "Site"
            status__name: "Active"
            "!ref": "dc_a"
          - "!create_or_update:name": "DC-B"
            location_type__name: "Site"
            status__name: "Active"
            "!ref": "dc_b"
          - "!create_or_update:name": "DC-C"
            location_type__name: "Site"
            status__name: "Active"
            "!ref": "dc_c"

custom_fields:
  - "!create_or_update:key": "vni"
    label: "VXLAN Network Identifier"
    type: "integer"
    description: "L2 VNI on VLANs and L3 VNI on VRFs"
    content_types:
      - "!get:app_label": "ipam"
        "!get:model": "vlan"
      - "!get:app_label": "ipam"
        "!get:model": "vrf"
  - "!create_or_update:key": "ip_address_mode"
    label: "IP Address Mode"
    type: "text"
    description: "Interface address source when no static Nautobot IP is assigned"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "interface"

route_targets:
{% for route_target in route_targets %}
  - "!create_or_update:name": "{{ route_target }}"
{% endfor %}

vrfs:
{% for vrf in vrfs %}
  - "!create_or_update:name": "{{ vrf.name }}"
    rd: "{{ vrf.rd }}"
    description: "{{ vrf.description }}"
    status__name: "Active"
{% if vrf.vni is defined %}
    custom_fields:
      vni: {{ vrf.vni }}
{% endif %}
{% if vrf.import_targets %}
    import_targets:
{% for route_target in vrf.import_targets %}
      - "!get:name": "{{ route_target }}"
{% endfor %}
{% endif %}
{% if vrf.export_targets %}
    export_targets:
{% for route_target in vrf.export_targets %}
      - "!get:name": "{{ route_target }}"
{% endfor %}
{% endif %}
{% endfor %}
  - "!create_or_update:name": "{{ internet_edge.vrf.name }}"
    rd: "{{ internet_edge.vrf.rd }}"
    description: "{{ internet_edge.vrf.description }}"
    status__name: "Active"
    import_targets:
{% for route_target in internet_edge.vrf.import_targets %}
      - "!get:name": "{{ route_target }}"
{% endfor %}
    export_targets:
{% for route_target in internet_edge.vrf.export_targets %}
      - "!get:name": "{{ route_target }}"
{% endfor %}

vlans:
{% for vlan in service_vlans %}
  - "!create_or_update:vid": {{ vlan.id }}
    name: "{{ vlan.name }}"
    status__name: "Active"
    description: "{{ 'Stretched EVPN segment' if vlan.id == 100 else 'Site-local storage segment' }}"
    custom_fields:
      vni: {{ vlan.vni }}
    locations:
{% for location_ref in vlan.location_refs %}
      - "!ref:{{ location_ref }}"
{% endfor %}
{% endfor %}

prefixes:
  - "!create_or_update:prefix": "192.168.3.0/24"
    status__name: "Active"
    description: "OOB Management"
    vrf_assignments:
      - "!create_or_update:vrf__name": "MGMT-VRF"
  - "!create_or_update:prefix": "10.0.0.0/24"
    status__name: "Active"
    description: "SP Core P2P"
  - "!create_or_update:prefix": "10.1.0.0/24"
    status__name: "Active"
    description: "SP Core Loopbacks"
  # DC fabric P2P underlay (/31s assigned in 0003_cabling)
  - "!create_or_update:prefix": "10.1.1.0/24"
    status__name: "Active"
    description: "DC-A Fabric P2P"
  - "!create_or_update:prefix": "10.1.2.0/24"
    status__name: "Active"
    description: "DC-B Fabric P2P"
  - "!create_or_update:prefix": "10.1.3.0/24"
    status__name: "Active"
    description: "DC-C Fabric P2P"
  # CE + DC fabric loopbacks (/32s assigned in 0002_devices)
  - "!create_or_update:prefix": "10.2.1.0/24"
    status__name: "Active"
    description: "DC-A Loopbacks"
  - "!create_or_update:prefix": "10.2.2.0/24"
    status__name: "Active"
    description: "DC-B Loopbacks"
  - "!create_or_update:prefix": "10.2.3.0/24"
    status__name: "Active"
    description: "DC-C Loopbacks"
  # VTEP Loopback1 IPs (/32s assigned in 0002_devices, leaves only)
  - "!create_or_update:prefix": "10.3.1.0/24"
    status__name: "Active"
    description: "DC-A VTEP Loopbacks"
  - "!create_or_update:prefix": "10.3.2.0/24"
    status__name: "Active"
    description: "DC-B VTEP Loopbacks"
  - "!create_or_update:prefix": "10.3.3.0/24"
    status__name: "Active"
    description: "DC-C VTEP Loopbacks"
  # PE-CE handoffs (/31s assigned in 0003_cabling)
  - "!create_or_update:prefix": "172.16.0.0/16"
    status__name: "Active"
    description: "PE-CE infrastructure address space"
    tags: []
  - "!create_or_update:prefix": "172.16.1.0/24"
    status__name: "Active"
    description: "CUST-A PE-CE"
    vrf_assignments:
      - "!create_or_update:vrf__name": "CUST-A"
  - "!create_or_update:prefix": "172.16.2.0/24"
    status__name: "Active"
    description: "CUST-A PE-CE (DC-B)"
    vrf_assignments:
      - "!create_or_update:vrf__name": "CUST-A"
  - "!create_or_update:prefix": "172.16.3.0/24"
    status__name: "Active"
    description: "CUST-A PE-CE (DC-C)"
    vrf_assignments:
      - "!create_or_update:vrf__name": "CUST-A"
  # Server and storage service prefixes
{% for vlan in service_vlans %}
  - "!create_or_update:prefix": "{{ vlan.ipv4_prefix }}"
    status__name: "Active"
    description: "{{ vlan.name }} VLAN {{ vlan.id }}"
    locations:
{% for location_ref in vlan.location_refs %}
      - "!ref:{{ location_ref }}"
{% endfor %}
  - "!create_or_update:prefix": "{{ vlan.ipv6_prefix }}"
    status__name: "Active"
    description: "{{ vlan.name }} VLAN {{ vlan.id }} IPv6"
    locations:
{% for location_ref in vlan.location_refs %}
      - "!ref:{{ location_ref }}"
{% endfor %}
{% endfor %}
  # IPv6 parent prefixes
{% for pfx in ipv6_prefixes %}
  - "!create_or_update:prefix": "{{ pfx.prefix }}"
    status__name: "Active"
    description: "{{ pfx.description }}"
{% endfor %}
