---
# Assign primary_ip4 to all devices.
# Runs after 0002 (devices + IPs created) and 0003 (cabling).
devices:
{% for device in sp_core_devices %}
  - "!create_or_update:name": "{{ device.name }}"
    primary_ip4:
      "!get:address": "{{ device.ip }}/24"
{% endfor %}
{% for device in dc_a_devices %}
  - "!create_or_update:name": "{{ device.name }}"
    primary_ip4:
      "!get:address": "{{ device.ip }}/24"
{% endfor %}
{% for device in dc_b_devices %}
  - "!create_or_update:name": "{{ device.name }}"
    primary_ip4:
      "!get:address": "{{ device.ip }}/24"
{% endfor %}
{% for device in dc_c_devices %}
  - "!create_or_update:name": "{{ device.name }}"
    primary_ip4:
      "!get:address": "{{ device.ip }}/24"
{% endfor %}
