{% for bgp in bgp_routing_instances %}
router bgp {{ bgp.autonomous_system.asn }}
   router-id {{ bgp.router_id.address.split('/')[0] }}
{% if config_context.bgp is defined and not config_context.bgp.default_ipv4_unicast | default(false) %}
   no bgp default ipv4-unicast
{% endif %}
{% if config_context.bgp is defined %}
   maximum-paths {{ config_context.bgp.maximum_paths | default(4) }} ecmp {{ config_context.bgp.ecmp | default(4) }}
   timers bgp {{ config_context.bgp.timers.keepalive }} {{ config_context.bgp.timers.hold }}
{% else %}
   maximum-paths 4 ecmp 4
   timers bgp 3 9
{% endif %}
!
{% set has_overlay = [] %}
{% set has_underlay = [] %}
{% for pg in bgp.peer_groups %}
{% if pg.name == "EVPN-OVERLAY-PEERS" %}
{% if has_overlay.append(true) %}{% endif %}
   neighbor EVPN-OVERLAY-PEERS peer group
   neighbor EVPN-OVERLAY-PEERS update-source Loopback0
   neighbor EVPN-OVERLAY-PEERS bfd
   neighbor EVPN-OVERLAY-PEERS ebgp-multihop 3
   neighbor EVPN-OVERLAY-PEERS send-community extended
   neighbor EVPN-OVERLAY-PEERS maximum-routes 0
{% elif pg.name == "IPV4-UNDERLAY-PEERS" %}
{% if has_underlay.append(true) %}{% endif %}
   neighbor IPV4-UNDERLAY-PEERS peer group
   neighbor IPV4-UNDERLAY-PEERS send-community
   neighbor IPV4-UNDERLAY-PEERS maximum-routes 12000
{% endif %}
{% endfor %}
!
{% for endpoint in bgp.endpoints %}
{% if endpoint.peer and endpoint.peer.source_ip %}
{% set peer_ip = endpoint.peer.source_ip.address.split('/')[0] %}
{% if endpoint.peer_group and endpoint.peer_group.name == "EVPN-OVERLAY-PEERS" %}
   neighbor {{ peer_ip }} peer group EVPN-OVERLAY-PEERS
   neighbor {{ peer_ip }} remote-as {{ endpoint.peer.autonomous_system.asn }}
   neighbor {{ peer_ip }} description {{ endpoint.peer.routing_instance.device.name }}
{% elif endpoint.peer_group and endpoint.peer_group.name == "IPV4-UNDERLAY-PEERS" %}
   neighbor {{ peer_ip }} peer group IPV4-UNDERLAY-PEERS
   neighbor {{ peer_ip }} remote-as {{ endpoint.peer.autonomous_system.asn }}
   neighbor {{ peer_ip }} description {{ endpoint.peer.routing_instance.device.name }}
{% else %}
   neighbor {{ peer_ip }} remote-as {{ endpoint.peer.autonomous_system.asn }}
{% endif %}
{% endif %}
{% endfor %}
!
{% if config_context.bgp is defined and config_context.bgp.redistribute is defined and config_context.bgp.redistribute.connected is defined %}
   redistribute connected route-map {{ config_context.bgp.redistribute.connected.route_map }}
{% endif %}
!
{% if has_underlay %}
   address-family ipv4
      neighbor IPV4-UNDERLAY-PEERS activate
      redistribute connected
   !
{% endif %}
{% if has_overlay %}
   address-family evpn
      neighbor EVPN-OVERLAY-PEERS activate
   !
{% endif %}
{% endfor %}
