{# BGP configuration - AVD-aligned eBGP underlay + EVPN overlay #}
{% for bgp in bgp_routing_instances %}
router bgp {{ bgp.autonomous_system.asn }}
   router-id {{ bgp.router_id.address.split('/')[0] }}
{% if not config_context.bgp.default_ipv4_unicast | default(false) %}
   no bgp default ipv4-unicast
{% endif %}
   maximum-paths {{ config_context.bgp.maximum_paths | default(4) }} ecmp {{ config_context.bgp.ecmp | default(4) }}
   timers bgp {{ config_context.bgp.timers.keepalive }} {{ config_context.bgp.timers.hold }}
!
{# Named Peer Groups (AVD-style) #}
{% if config_context.bgp.peer_groups is defined %}
{% set underlay_pg = config_context.bgp.peer_groups.ipv4_underlay %}
{% set overlay_pg = config_context.bgp.peer_groups.evpn_overlay %}
   neighbor {{ overlay_pg.name }} peer group
{% if overlay_pg.next_hop_unchanged | default(false) %}
   neighbor {{ overlay_pg.name }} next-hop-unchanged
{% endif %}
   neighbor {{ overlay_pg.name }} update-source {{ overlay_pg.update_source }}
{% if overlay_pg.bfd | default(false) %}
   neighbor {{ overlay_pg.name }} bfd
{% endif %}
   neighbor {{ overlay_pg.name }} ebgp-multihop {{ overlay_pg.ebgp_multihop }}
{% if overlay_pg.send_community | default(false) %}
   neighbor {{ overlay_pg.name }} send-community
{% endif %}
   neighbor {{ overlay_pg.name }} maximum-routes {{ overlay_pg.maximum_routes }}
!
   neighbor {{ underlay_pg.name }} peer group
{% if underlay_pg.send_community | default(false) %}
   neighbor {{ underlay_pg.name }} send-community
{% endif %}
   neighbor {{ underlay_pg.name }} maximum-routes {{ underlay_pg.maximum_routes }}
!
{% endif %}
{# Neighbors - assign to peer groups based on address family #}
{% for endpoint in bgp.endpoints %}
{% if endpoint.peer and endpoint.peer.source_ip %}
{% set peer_ip = endpoint.peer.source_ip.address.split('/')[0] %}
{% set ep_afs = endpoint.address_families | map(attribute='afi_safi') | list %}
{% if 'L2_EVPN' in ep_afs %}
   neighbor {{ peer_ip }} peer group {{ overlay_pg.name }}
   neighbor {{ peer_ip }} remote-as {{ endpoint.peer.autonomous_system.asn }}
   neighbor {{ peer_ip }} description {{ endpoint.peer.routing_instance.device.name }}_Loopback0
{% elif 'IPV4_UNICAST' in ep_afs %}
   neighbor {{ peer_ip }} peer group {{ underlay_pg.name }}
   neighbor {{ peer_ip }} remote-as {{ endpoint.peer.autonomous_system.asn }}
   neighbor {{ peer_ip }} description {{ endpoint.peer.routing_instance.device.name }}_{{ endpoint.peer.source_ip.address.split('/')[0] }}
{% endif %}
{% endif %}
{% endfor %}
!
{# Redistribute connected via route-map #}
{% if config_context.bgp.redistribute is defined and config_context.bgp.redistribute.connected is defined %}
   redistribute connected route-map {{ config_context.bgp.redistribute.connected.route_map }}
{% endif %}
!
{# Address Families #}
{% set af_list = bgp.address_families | map(attribute='afi_safi') | list %}
{% if 'L2_EVPN' in af_list %}
   address-family evpn
      neighbor {{ overlay_pg.name }} activate
   !
{% endif %}
{% if 'IPV4_UNICAST' in af_list %}
   address-family ipv4
      no neighbor {{ overlay_pg.name }} activate
      neighbor {{ underlay_pg.name }} activate
   !
{% endif %}
{% endfor %}
