{# Interface configuration (AVD-aligned) #}
{% for interface in interfaces %}
{% if interface.ip_addresses or interface.description %}
interface {{ interface.name }}
{% if interface.description %}
   description {{ interface.description }}
{% endif %}
{% if interface.vrf %}
   vrf {{ interface.vrf.name }}
{% endif %}
{% if not interface.enabled %}
   shutdown
{% else %}
   no shutdown
{% endif %}
{% if interface.name.startswith('Ethernet') and not interface.vrf %}
   mtu 9214
   no switchport
{% endif %}
{% for addr in interface.ip_addresses %}
{% if addr.ip_version == 4 %}
{% if interface.name.startswith('Vlan') %}
   ip address virtual {{ addr.address }}
{% else %}
   ip address {{ addr.address }}
{% endif %}
{% elif addr.ip_version == 6 %}
{% if interface.name.startswith('Vlan') %}
   ipv6 address virtual {{ addr.address }}
{% else %}
   ipv6 address {{ addr.address }}
{% endif %}
{% endif %}
{% endfor %}
!
{% endif %}
{% endfor %}
