{# Route Maps (AVD-aligned) #}
{% if config_context.route_maps is defined %}
{% for rm in config_context.route_maps %}
route-map {{ rm.name }} {{ rm.entries[0].action }} {{ rm.entries[0].sequence }}
{% for entry in rm.entries %}
   match {{ entry.match }}
{% endfor %}
!
{% endfor %}
{% endif %}
{% set device_tag_names = tags | default([]) | map(attribute='name') | list %}
{% if config_context.internet_egress is defined and 'internet-egress-origin' in device_tag_names %}
{% set service = namespace(valid=false) %}
{% for interface in interfaces if interface.enabled and interface.vrf %}
{% set interface_tag_names = interface.tags | default([]) | map(attribute='name') | list %}
{% if 'internet-service' in interface_tag_names %}
{% for address in interface.ip_addresses if address.ip_version == 4 and address.parent %}
{% set service.valid = true %}
{% endfor %}
{% endif %}
{% endfor %}
{% if service.valid %}
route-map {{ config_context.internet_egress.reverse_route.route_map }} permit 10
   match ip address prefix-list {{ config_context.internet_egress.reverse_route.prefix_list }}
!
route-map {{ config_context.internet_egress.default_route.route_map }} permit 10
   match ip address prefix-list {{ config_context.internet_egress.default_route.prefix_list }}
!
{% endif %}
{% endif %}
