{% if config_context.telemetry_canary is defined %}
{% set telemetry = config_context.telemetry_canary %}
sflow vrf {{ telemetry.vrf }} destination {{ telemetry.destination }}{{ '' if telemetry.sflow_port == 6343 else ' ' ~ telemetry.sflow_port }}
sflow vrf {{ telemetry.vrf }} source-interface {{ telemetry.source_interface }}
sflow sample {{ telemetry.sample_rate }}
sflow polling-interval 20
{% if telemetry.enabled | default(true) %}
sflow run
{% else %}
no sflow run
{% endif %}
logging vrf {{ telemetry.vrf }} host {{ telemetry.destination }}
logging vrf {{ telemetry.vrf }} source-interface {{ telemetry.source_interface }}
!
{% endif %}
