{# VRF instances #}
{% set seen_vrfs = [] %}
{% for interface in interfaces if interface.vrf %}
{% if interface.vrf.name not in seen_vrfs %}
{% if seen_vrfs.append(interface.vrf.name) %}{% endif %}
vrf instance {{ interface.vrf.name }}
!
{% endif %}
{% endfor %}
{# VXLAN VRFs from config context (leaves only) #}
{% if config_context.vxlan is defined and config_context.vxlan.vrfs is defined %}
{% for vrf in config_context.vxlan.vrfs %}
{% if vrf.name not in seen_vrfs %}
{% if seen_vrfs.append(vrf.name) %}{% endif %}
vrf instance {{ vrf.name }}
!
{% endif %}
{% endfor %}
{% endif %}
