{# Entry point for Arista EOS (vEOS) - AVD-aligned Golden Config #}
{# Includes modular sub-templates from eos/ folder #}
{% include 'golden-config/templates/eos/hostname.j2' %}
{% include 'golden-config/templates/eos/platform.j2' %}
{% include 'golden-config/templates/eos/vrfs.j2' %}
{% include 'golden-config/templates/eos/vlans.j2' %}
{% include 'golden-config/templates/eos/interfaces.j2' %}
{% include 'golden-config/templates/eos/routing.j2' %}
{% include 'golden-config/templates/eos/prefix_lists.j2' %}
{% include 'golden-config/templates/eos/route_maps.j2' %}
{% include 'golden-config/templates/eos/bfd.j2' %}
{% include 'golden-config/templates/eos/bgp.j2' %}
{% include 'golden-config/templates/eos/vxlan.j2' %}
end
