{# Entry point for Cisco IOS-XE (CAT8000v) — Golden Config #}
{# Includes modular sub-templates from ios/ folder #}
{% include 'ios/hostname.j2' %}
{% include 'ios/vrfs.j2' %}
{% include 'ios/interfaces.j2' %}
{% include 'ios/isis.j2' %}
{% include 'ios/mpls.j2' %}
{% include 'ios/bgp.j2' %}
end
